<div class="video-container">
  <div class="icon-container">
    <i
      class="fab fa-angular tech-icon"
      aria-hidden="true"
      title="Angular"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-react tech-icon"
      aria-hidden="true"
      title="React"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-node-js tech-icon"
      aria-hidden="true"
      title="Node.js"
      [ngClass]="theme"
    ></i>
    <i
      class="fas fa-code tech-icon"
      aria-hidden="true"
      title=".NET Core"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-js tech-icon"
      aria-hidden="true"
      title="JavaScript"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-html5 tech-icon"
      aria-hidden="true"
      title="HTML"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-css3-alt tech-icon"
      aria-hidden="true"
      title="CSS3"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-python tech-icon"
      aria-hidden="true"
      title="Python"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-java tech-icon"
      aria-hidden="true"
      title="Java"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-android tech-icon"
      aria-hidden="true"
      title="Android"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-apple tech-icon"
      aria-hidden="true"
      title="iOS"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-git tech-icon"
      aria-hidden="true"
      title="Git"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-docker tech-icon"
      aria-hidden="true"
      title="Docker"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-aws tech-icon"
      aria-hidden="true"
      title="AWS"
      [ngClass]="theme"
    ></i>
    <i
      class="fas fa-terminal tech-icon"
      aria-hidden="true"
      title="VSCode"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-linux tech-icon"
      aria-hidden="true"
      title="Linux"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-windows tech-icon"
      aria-hidden="true"
      title="Windows"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-php tech-icon"
      aria-hidden="true"
      title="PHP"
      [ngClass]="theme"
    ></i>
    <i
      class="fab fa-ruby tech-icon"
      aria-hidden="true"
      title="Ruby"
      [ngClass]="theme"
    ></i>
  </div>

  <h2>Wasup</h2>
  <div class="video-wrapper">
    <iframe
      src="https://www.youtube.com/embed/VIDEO_ID_1"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
  <!-- <div class="video-wrapper">
    <iframe
      src="https://www.youtube.com/embed/VIDEO_ID_2"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div> -->
</div>
