@import "../../../../styles/variables";

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .video-wrapper {
    margin-bottom: 20px;

    iframe {
      width: 100%;
      height: auto;
      max-width: 560px;
      max-height: 315px;
    }
  }
}

@media (min-width: $tablet) {
  .video-container {
    .video-wrapper {
      iframe {
        width: 560px;
        height: 315px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .video-container {
    .video-wrapper {
      iframe {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (min-width: 820px) and (max-width: 1024px) {
  .video-container {
    .video-wrapper {
      iframe {
        width: 460px; /* Adjust as needed */
        height: 215px;
      }
    }
  }
}
