@import "../../../../styles/variables";

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .video-wrapper {
    margin-bottom: 20px;

    iframe {
      width: 100%;
      height: auto;
      max-width: 560px;
      max-height: 315px;
    }
  }
}

@media (min-width: $tablet) {
  .video-container {
    .video-wrapper {
      iframe {
        width: 560px;
        height: 315px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .video-container {
    .video-wrapper {
      iframe {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (min-width: 820px) and (max-width: 1024px) {
  .video-container {
    .video-wrapper {
      iframe {
        width: 460px; /* Adjust as needed */
        height: 215px;
      }
    }
  }
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px;
  margin-top: 20px;

  .tech-icon {
    font-size: 3rem;
    transition: color 0.3s ease;

    &.fa-angular {
      color: #dd0031;
    }

    &.fa-react {
      color: #61dafb;
    }

    &.fa-node-js {
      color: #68a063;
    }

    &.fa-code {
      color: #5c2d91;
    }

    &.fa-js {
      color: #f7df1e;
    }

    &.fa-html5 {
      color: #e34f26;
    }

    &.fa-css3-alt {
      color: #1572b6;
    }

    &.fa-python {
      color: #3776ab;
    }

    &.fa-java {
      color: #007396;
    }

    &.fa-android {
      color: #3ddc84;
    }

    &.fa-apple {
      color: #999999;
    }

    &.fa-git {
      color: #f05032;
    }

    &.fa-docker {
      color: #2496ed;
    }

    &.fa-aws {
      color: #ff9900;
    }

    &.fa-terminal {
      color: #007acc;
    }

    &.fa-linux {
      color: #fcc624;
    }

    &.fa-windows {
      color: #0078d6;
    }

    &.fa-php {
      color: #777bb4;
    }

    &.fa-ruby {
      color: #cc342d;
    }

    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));

    // &.light {
    //   color: #333;
    // }

    // &.dark {
    //   color: #fff;
    // }
  }
}

@media (max-width: $mobile) {
  .icon-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 10px;

    .tech-icon {
      font-size: 2rem;
    }
  }
}

@media (min-width: $tablet) and (max-width: 1024px) {
  .icon-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 15px;

    .tech-icon {
      font-size: 2.5rem;
    }
  }
}
