@import "../../../../styles/variables";

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .video-wrapper {
    margin-bottom: 20px;

    iframe {
      width: 100%;
      height: auto;
      max-width: 560px;
      max-height: 315px;
    }
  }
}

@media (min-width: $tablet) {
  .video-container {
    .video-wrapper {
      iframe {
        width: 560px;
        height: 315px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .video-container {
    .video-wrapper {
      iframe {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media (min-width: 820px) and (max-width: 1024px) {
  .video-container {
    .video-wrapper {
      iframe {
        width: 460px; /* Adjust as needed */
        height: 215px;
      }
    }
  }
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 20px;
  margin-top: 20px;

  .tech-icon {
    font-size: 3rem;
    color: #333;
    transition: color 0.3s ease;

    &:hover {
      color: red;
    }

    &.light {
      color: #333;
    }

    &.dark {
      color: #fff;
    }
  }
}

@media (max-width: $mobile) {
  .icon-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 10px;

    .tech-icon {
      font-size: 2rem;
    }
  }
}

@media (min-width: $tablet) and (max-width: 1024px) {
  .icon-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 15px;

    .tech-icon {
      font-size: 2.5rem;
    }
  }
}
