<div class="wrapper" [ngClass]="theme">
  <div class="bio-container" [ngClass]="theme">
    <div class="left-column" [ngClass]="theme">
      <div class="bio-content" [ngClass]="theme">
        <app-left-column></app-left-column>
      </div>
      <!-- <button class="cta-button">Contact Me</button> -->
    </div>
    <div class="divider" [ngClass]="theme"></div>
    <div class="right-column" [ngClass]="theme">
      <app-right-column></app-right-column>
      <!-- <app-link-tree></app-link-tree> -->
    </div>
  </div>
</div>
