// _variables.scss
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 1023px;
$breakpoint-mobile: 600px;

// CSS Variables for colors
:root {
  --color-primary-light: #e0e0e0;
  --color-secondary-light: #f5f5f5;
  --color-accent-light: #757575;
  --color-text-light: #616161;
  --color-icon-light: #333333;
  --color-icon-hover-light: #555555;

  --color-primary-dark: #212121;
  --color-secondary-dark: #424242;
  --color-accent-dark: #dcdcdc;
  --color-text-dark: #e0e0e0;
  --color-icon-dark: #ffffff;
  --color-icon-hover-dark: #cccccc;
}

// _themes.scss
$light-theme: (
  primary: var(--color-primary-light),
  secondary: var(--color-secondary-light),
  accent: var(--color-accent-light),
  text: var(--color-text-light),
  icon: var(--color-icon-light),
  icon-hover: var(--color-icon-hover-light),
  box-shadow: 0 4px 8px rgba(97, 97, 97, 0.3),
  box-shadow-hover: 0 8px 16px rgba(97, 97, 97, 0.4),
);

$dark-theme: (
  primary: var(--color-primary-dark),
  secondary: var(--color-secondary-dark),
  accent: var(--color-accent-dark),
  text: var(--color-text-dark),
  icon: var(--color-icon-dark),
  icon-hover: var(--color-icon-hover-dark),
  box-shadow: 0 4px 8px rgba(97, 97, 97, 0.5),
  box-shadow-hover: 0 8px 16px rgba(224, 224, 224, 0.3),
);

// _mixins.scss
@mixin theme-styles($theme) {
  background-color: map-get($theme, primary);
  color: map-get($theme, text);
  box-shadow: map-get($theme, box-shadow);

  &:hover {
    box-shadow: map-get($theme, box-shadow-hover);
  }

  h2 {
    color: map-get($theme, text);
  }

  p {
    color: map-get($theme, text);
  }

  .card__footer i {
    color: map-get($theme, icon);
    font-size: 24px;
    cursor: pointer;

    &:hover {
      color: map-get($theme, icon-hover);
    }
  }

  .card__text {
    &::-webkit-scrollbar-track {
      background: map-get($theme, secondary);
    }

    &::-webkit-scrollbar-thumb {
      background: map-get($theme, accent);

      &:hover {
        background: lighten(map-get($theme, accent), 10%);
      }
    }

    scrollbar-color: map-get($theme, accent) map-get($theme, secondary);
  }
}

// main.scss
// @import "variables";
// @import "themes";
// @import "mixins";

.top-container {
  margin: 300px 0;
}

.container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  grid-auto-rows: auto;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    max-width: 80%;
  }

  @media (min-width: 1500px) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    max-width: 75%;
  }

  @media (max-width: 1500px) {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.card {
  background-color: transparent;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    filter: brightness(0.9);
  }

  &__header {
    @include theme-styles($theme);
  }

  &__body {
    @include theme-styles($theme);
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 15px;
    flex-wrap: wrap;

    i {
      font-size: 24px;
      cursor: pointer;

      &.light {
        color: map-get($light-theme, icon);

        &:hover {
          color: map-get($light-theme, icon-hover);
        }
      }

      &.dark {
        color: map-get($dark-theme, icon);

        &:hover {
          color: map-get($dark-theme, icon-hover);
        }
      }
    }
  }

  &__text {
    max-height: 300px;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-bottom: 20px;

    .project-note {
      margin-top: 10px;
      font-size: 0.8em;
      font-weight: bold;
      color: #4682b4;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &.light {
      scrollbar-width: thin;
    }

    &.dark {
      scrollbar-width: thin;
    }
  }
}

// Note styles
.note {
  font-size: 0.8em;
  color: #666;
  display: block;
  margin-top: 10px;
  line-height: 1.4;

  a {
    color: #4682b4;
    text-decoration: underline;
    transition: color 0.3s;

    &:hover {
      color: #1e90ff;
    }
  }
}

// Portfolio paragraph styles
.portfolio-paragraph {
  margin-bottom: 20px;

  + ul {
    margin-top: 20px;
  }
}

// Spaced list item styles
.spaced-list-item {
  margin-bottom: 10px;
}
