.top-container {
  //   margin-top: 300px;
  //   margin-bottom: 2rem;
}

.container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
  grid-auto-rows: auto;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    max-width: 80%;
  }

  @media (min-width: 1500px) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    max-width: 75%;
  }

  @media (max-width: 1500px) {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

.card {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  color: #333;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    filter: brightness(0.9);
  }

  h2 {
    margin-top: 0;
    font-size: 1.5em;
  }

  p {
    margin-top: 10px;
    color: #666;
  }
}

.card-header {
  h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: white;
  }
}

.card-body {
  height: 200px;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;

  &.light {
    a {
      transition: color 0.3s, transform 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }

    i {
      color: #333;
      font-size: 1.5em;
      cursor: pointer;

      &:hover {
        color: #555;
      }
    }
  }

  &.dark {
    a {
      transition: color 0.3s, transform 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
    i {
      color: #fff;
      font-size: 1.5em;
      cursor: pointer;

      &:hover {
        color: #ccc;
      }
    }
  }
}
