<div class="top-container">
  <div class="container">
    <div class="card">
      <div class="card-header">Separation of Concerns</div>
      <div class="card-body">
        <p class="card-text">
          Separation of concerns is a design principle for separating a computer
          program into distinct sections, such that each section addresses a
          separate concern.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/gitlaws/angular-net-connect"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://gitlaws.github.io/angular-net-connect/"
          ><i class="fas fa-link"></i
        ></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Separation of Concerns</div>
      <div class="card-body">
        <p class="card-text">
          Separation of concerns is a design principle for separating a computer
          program into distinct sections, such that each section addresses a
          separate concern.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/gitlaws/angular-net-connect"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://gitlaws.github.io/angular-net-connect/"
          ><i class="fas fa-link"></i
        ></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Separation of Concerns</div>
      <div class="card-body">
        <p class="card-text">
          Separation of concerns is a design principle for separating a computer
          program into distinct sections, such that each section addresses a
          separate concern.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/gitlaws/angular-net-connect"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://gitlaws.github.io/angular-net-connect/"
          ><i class="fas fa-link"></i
        ></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Separation of Concerns</div>
      <div class="card-body">
        <p class="card-text">
          Separation of concerns is a design principle for separating a computer
          program into distinct sections, such that each section addresses a
          separate concern.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/gitlaws/angular-net-connect"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://gitlaws.github.io/angular-net-connect/"
          ><i class="fas fa-link"></i
        ></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Separation of Concerns</div>
      <div class="card-body">
        <p class="card-text">
          Separation of concerns is a design principle for separating a computer
          program into distinct sections, such that each section addresses a
          separate concern.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/gitlaws/angular-net-connect"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://gitlaws.github.io/angular-net-connect/"
          ><i class="fas fa-link"></i
        ></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Separation of Concerns</div>
      <div class="card-body">
        <p class="card-text">
          Separation of concerns is a design principle for separating a computer
          program into distinct sections, such that each section addresses a
          separate concern.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/gitlaws/angular-net-connect"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://gitlaws.github.io/angular-net-connect/"
          ><i class="fas fa-link"></i
        ></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
  </div>
</div>
