<div class="top-container">
  <div class="container">
    <article class="card">
      <header class="card__header" [ngClass]="theme">
        <h2 class="card__title">Angular Essentials</h2>
      </header>
      <section class="card__body" [ngClass]="theme">
        <p class="card__text">
          A personal project that demonstrates my understanding of Angular best
          practices and architectural patterns. It's a versatile application
          that can be easily adapted to various use cases.
        </p>
      </section>
      <footer class="card__footer" [ngClass]="theme">
        <a href="https://github.com/gitlaws/angular-net-connect"
          ><i class="card__icon fab fa-github"></i
        ></a>
        <a href="https://gitlaws.github.io/angular-net-connect/"
          ><i class="card__icon fas fa-link"></i
        ></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="card__icon fab fa-youtube"></i
        ></a>
      </footer>
    </article>

    <article class="card">
      <header class="card__header" [ngClass]="theme">
        <h2 class="card__title">Rest CRUD</h2>
      </header>
      <section class="card__body" [ngClass]="theme">
        <p class="card__text">Developed a simple CRUD tool with JSON Server.</p>
        <p class="card__note">
          <strong>Note:</strong> GitHub Pages doesn't host deployment servers
          like JSON Server, so you'll need to clone the repo and run the app
          from your machine to fully interact with the data and API. Follow the
          instructions in the README to get started.
        </p>
      </section>
      <footer class="card__footer" [ngClass]="theme">
        <a href="https://github.com/gitlaws/rest-hub"
          ><i class="card__icon fab fa-github"></i
        ></a>
        <a href="#"><i class="card__icon fas fa-link"></i></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="card__icon fab fa-youtube"></i
        ></a>
      </footer>
    </article>

    <article class="card">
      <header class="card__header" [ngClass]="theme">
        <h2 class="card__title">PortfoliYOLO</h2>
      </header>
      <section class="card__body" [ngClass]="theme">
        <p class="card__text">
          I specialize in Angular and advanced web tools to transform complex
          ideas into smooth, effective applications.
        </p>
      </section>
      <footer class="card__footer" [ngClass]="theme">
        <a href="#"><i class="card__icon fab fa-github"></i></a>
        <a href="#"><i class="card__icon fas fa-link"></i></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="card__icon fab fa-youtube"></i
        ></a>
      </footer>
    </article>

    <article class="card">
      <header class="card__header" [ngClass]="theme">
        <h2 class="card__title">Ignite</h2>
      </header>
      <section class="card__body" [ngClass]="theme">
        <p class="card__text">
          Using Firebase and Google Cloud, I've built a cloud native web app
          with secure logins, real-time updates, and personalized profiles.
          <small class="note">
            If the link doesn't work, please visit the alternative link:
            <a
              href="https://ignitebase.firebaseapp.com/"
              target="_blank"
              rel="noopener"
              >https://ignitebase.firebaseapp.com/</a
            >.
          </small>
        </p>
      </section>
      <footer class="card__footer" [ngClass]="theme">
        <a href="https://github.com/gitlaws/ignite"
          ><i class="card__icon fab fa-github"></i
        ></a>
        <a href="https://ignitebase.web.app/"
          ><i class="card__icon fas fa-link"></i
        ></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="card__icon fab fa-youtube"></i
        ></a>
      </footer>
    </article>

    <article class="card">
      <header class="card__header" [ngClass]="theme">
        <h2 class="card__title">AI Fusion (In-progress)</h2>
      </header>
      <section class="card__body" [ngClass]="theme">
        <p class="card__text">
          AI Integration: Integrated AI models into a web application.
        </p>
        <ul>
          <li class="spaced-list-item">
            Natural Language Processing: Developing chatbots that can understand
            and respond to human language.
          </li>
          <li class="spaced-list-item">
            Retrieval Augmented Generation: Implementing techniques to enhance
            chatbot responses by retrieving relevant information from external
            sources.
          </li>
        </ul>
      </section>
      <footer class="card__footer" [ngClass]="theme">
        <a href="https://github.com/gitlaws/AI-Fusion"
          ><i class="card__icon fab fa-github"></i
        ></a>
        <a href="https://github.com/gitlaws/AI-Fusion"
          ><i class="card__icon fas fa-link"></i
        ></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="card__icon fab fa-youtube"></i
        ></a>
      </footer>
    </article>
  </div>
</div>
