<section class="section-container" [ngClass]="theme">
  <header>
    <h1>Key Terms and Definitions</h1>
  </header>
  <article>
    <!-- <h2>Adult wage / More than enough:</h2> -->
    <p>
      <strong>Adult Wage:</strong> The amount of money needed to cover basic
      expenses such as housing, food, taxes, and healthcare in a certain
      location in a certain time period.
    </p>
    <p>
      <strong>Housing Wage:</strong> The estimated full-time hourly wage workers
      must earn to afford an adequate rental home at the U.S. Department of
      Housing and Urban Development’s Fair Market Rent (the 40th percentile of
      gross rents for standard rental units) while spending no more than 30
      percent of their income on housing costs.
    </p>
    <p>
      <strong>Living Wage:</strong> A measure of basic needs that draws on
      geographically specific data related to a family’s likely minimum costs
      for basic necessities such as food, childcare, health insurance, housing,
      transportation, clothing and personal care items. It determines the
      minimum employment earnings necessary to meet basic needs while also
      maintaining financial self-sufficiency, taking into account income and
      payroll taxes.
    </p>
    <p>
      <strong>Low Wage:</strong> A wage that is above the legally defined
      minimum wage of the set locality but does not meet the determined living
      wage of the location.
    </p>
    <p>
      <strong>Minimum Wage:</strong> The lowest legal amount an employer may pay
      a worker for an hour of work, with the exception of tipped wage workers as
      long as their wages with tips amount to at least the mandated minimum wage
      per hour.
    </p>
  </article>
</section>
