<div class="hero-content-wrapper" [ngClass]="theme">
  <div class="modern-hero backdrop-blur" [ngClass]="theme">
    <!-- <div class="accent-line" [ngClass]="theme"></div> -->
    <app-cube-logo></app-cube-logo>
    <div class="floating-element title-element">
      <h1>
        <span class="gradient-text" [ngClass]="theme"
          >Stanisław Wasilewski</span
        >
      </h1>
    </div>
    <div class="floating-element subtitle-element">
      <p class="subtitle" [ngClass]="theme">Full-stack Developer</p>
    </div>
    <app-typewriter></app-typewriter>
    <div class="floating-element description-element">
      <p class="description" [ngClass]="theme">
        I engineer full-stack web applications that are efficient, scalable, and
        maintainable. My toolkit includes Angular, React, and ASP.NET,
        prioritizing clean architecture, reusable components, and long-term
        stability.
      </p>
    </div>
    <div class="floating-element buttons-element" [ngClass]="theme">
      <a
        routerLink="/projx"
        href="#projects"
        class="min-button min-button-fill"
        [ngClass]="theme"
        >View Projects</a
      >
      <a
        routerLink="/profile"
        href="#contact"
        class="min-button"
        [ngClass]="theme"
        >Contact Me</a
      >
    </div>
  </div>
</div>
