<div class="hero-content-wrapper" [ngClass]="theme">
  <div class="modern-hero backdrop-blur" [ngClass]="theme">
    <div class="accent-line" [ngClass]="theme"></div>
    <div class="floating-element title-element">
      <h1>
        <span class="gradient-text" [ngClass]="theme"
          >Stanisław Wasilewski</span
        >
      </h1>
    </div>
    <div class="floating-element subtitle-element">
      <p class="subtitle" [ngClass]="theme">Full-stack Developer</p>
    </div>
    <app-typewriter></app-typewriter>
    <div class="floating-element description-element">
      <p class="description" [ngClass]="theme">
        I specialize in creating high-performance, full-stack web applications
        that are both robust and elegant. With expertise in Angular, React,
        ASP.NET, and scalable backends, I bridge the gap between great UX and
        solid infrastructure. Every line of code is written with purpose—to
        solve real problems and deliver long-term value.
      </p>
    </div>
    <div class="floating-element buttons-element" [ngClass]="theme">
      <a
        routerLink="/mock"
        href="#projects"
        class="min-button min-button-fill"
        [ngClass]="theme"
        >View Projects</a
      >
      <a
        routerLink="/profile"
        href="#contact"
        class="min-button"
        [ngClass]="theme"
        >Contact Me</a
      >
    </div>
  </div>
</div>
