p {
  display: flex;
  justify-content: center;
  align-items: center;
  //   background-image: radial-gradient(circle, #dee2e6, #e9ecef, #f8f9fa);
  background-image: radial-gradient(circle, #f8f9fa, #e9ecef, #dee2e6);

  width: 100%;
  height: 100%;
}
