.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 1em;

    li {
      margin: 0;
      a {
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;

        i {
          font-size: 32px;

          &.dark {
            color: #ffffff; // Base color: White
            &:hover {
              color: #888888; // Hover color: Medium Gray
            }
          }

          &.light {
            color: #a01515; // Base color: Black
            &:hover {
              color: #555555; // Hover color: Dark Gray
            }
          }
        }
      }
    }
  }
}
