<button class="menu-toggle" aria-label="Menu" (click)="toggleMenu()">
  <div class="container-with-bg"></div>
  <div class="ellipsis">
    <span></span>
    <span></span>
    <span></span>
  </div>
</button>

<!-- Menu -->
<ul *ngIf="isMenuOpen" class="menu">
  <!-- Links -->
  <li class="link-item"><a routerLink="/projects">Projects</a></li>
  <li class="link-item"><a routerLink="/profile">Profile</a></li>

  <!-- Theme toggle -->
  <li>
    <app-theme-toggle></app-theme-toggle>
  </li>
  <!-- Social links -->
  <li>
    <app-social-links></app-social-links>
  </li>
</ul>
