<button class="header__menu-toggle" aria-label="Menu" (click)="toggleMenu()">
  <div class="menu-toggle__bg-container"></div>
  <div class="menu-toggle__ellipsis">
    <span></span>
    <span></span>
    <span></span>
  </div>
</button>

<!-- Menu -->
<ul *ngIf="isMenuOpen" class="header__menu">
  <!-- Links -->
  <li class="menu__item-link"><a routerLink="/projects">Projects</a></li>
  <li class="menu__item-link"><a routerLink="/profile">Profile</a></li>

  <!-- Theme toggle -->
  <li>
    <app-theme-toggle></app-theme-toggle>
  </li>
  <!-- Social links -->
  <li>
    <app-social-links></app-social-links>
  </li>
</ul>
