$typewriter-color-light: #212121;
$typewriter-color-dark: #e0e0e0;
$text-shadow-glow-light: 0 2px 4px rgba(0, 0, 0, 0.1);
$text-shadow-glow-dark: 0 2px 6px rgba(0, 0, 0, 0.6);

$font-family: "Roboto";
.typewriter-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: $typewriter-color-light;
  font-family: $font-family;
  font-size: 2em;
  text-shadow: $text-shadow-glow-light;

  &.dark {
    color: $typewriter-color-dark;
    text-shadow: $text-shadow-glow-dark;
  }
}

.typewriter-line {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid $typewriter-color-light;
  animation:
    typing 2s steps(30, end),
    blink-caret 0.75s step-end infinite;

  &.dark {
    border-right-color: $typewriter-color-dark;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $typewriter-color-light;
  }
}

.dark .typewriter-line {
  @keyframes blink-caret-dark {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: $typewriter-color-dark;
    }
  }
  animation:
    typing 2s steps(30, end),
    blink-caret-dark 0.75s step-end infinite;
}
