$typewriter-color-light: #23272a; // Military Dark (charcoal, tactical black)
$typewriter-color-dark: #f5f5f5; // Military White (off-white, bright)
$text-shadow-glow-light: 0 0 8px #6c757d, 0 0 16px #adb5bd, 0 0 24px #dee2e6,
  0 0 32px rgba(245, 245, 245, 0.6); // Lighter gray tones
$text-shadow-glow-dark: 0 0 8px #23272a, 0 0 16px #343a40, 0 0 24px #495057,
  0 0 32px rgba(35, 39, 42, 0.6); // Dark charcoal, gunmetal, muted black

$font-family: "Roboto";
.typewriter-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: $typewriter-color-light;
  font-family: $font-family;
  font-size: 1.5em;
  text-shadow: $text-shadow-glow-light;

  &.dark {
    color: $typewriter-color-dark;
    text-shadow: $text-shadow-glow-dark;
  }
}

.typewriter-line {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid $typewriter-color-light;
  animation: typing 2s steps(30, end), blink-caret 0.75s step-end infinite;

  &.dark {
    border-right-color: $typewriter-color-dark;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $typewriter-color-light;
  }
}

.dark .typewriter-line {
  @keyframes blink-caret-dark {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: $typewriter-color-dark;
    }
  }
  animation: typing 2s steps(30, end), blink-caret-dark 0.75s step-end infinite;
}
