@import "../../../styles/_colors.scss";
@import "../../../styles/_mixins.scss";
@import "../../../styles/_variables.scss";

.intro-section {
  position: relative;
  text-align: center;
  padding: 150px 0;
  margin-top: 100px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  @include theme-mode-transition;

  &.light {
    background-color: $light-intro-section-bg-color;
    background-image: $light-intro-section-bg-image;
  }

  &.dark {
    background-color: $dark-intro-section-bg-color;
    background-image: $dark-intro-section-bg-image;
  }
}

.intro-content {
  position: relative;
  z-index: 1;
  // max-width: 800px;
  margin: 0 auto;
  // height: 500px;
}

.intro-headline {
  font-size: 2.5em;
  margin-bottom: 20px;

  &.light {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.dark {
    background: linear-gradient(to right, #00f260 0%, #0575e6 100%);
    // background: linear-gradient(to right, #ff00ff 0%, #00ffff 100%);

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.intro-description {
  font-size: 1.2em;
  margin-bottom: 40px;

  &.light {
    color: black;
  }

  &.dark {
    color: white;
  }
}
