<div class="intro-section">
  <img
    src="https://images.unsplash.com/photo-1520351796985-c24e2bc5997a?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA=="
    alt="Background Image"
    class="background-image"
  />
  <div class="intro-content">
    <h1 class="intro-headline">Bridging the Gap with Technology</h1>
    <p class="intro-description">Developing scalable applications</p>
  </div>
</div>

<section class="skills-container" [ngClass]="theme">
  <article class="skill-section" [ngClass]="theme">
    <header>
      <h2 [ngClass]="theme">About Me</h2>
    </header>
    <p [ngClass]="theme">
      With a solid foundation in full-stack development and a passion for
      crafting clean, efficient code, I’m eager to dive into all stages of
      development—from design and coding to troubleshooting and debugging.
      Here’s what I bring to the table: Full-Stack Expertise: My hands-on
      experience spans both front-end and back-end technologies, including
      Angular, React, asynchronous JavaScript, and API integration. I can unit
      test with a variety of tools ensuring test driven development. Performance
      Optimization: I specialize in transforming slow applications into
      high-performance scalable apps, enhancing user experience through
      effective code refactoring and optimization. Continuous Learning:
      Following industry trends and tools is a priority for me. Whether it’s
      exploring AI technologies or the latest code methods and engaging with
      developer communities, I’m committed to ongoing growth and learning.
      Project Management: I employ a rigorous SDLC-based approach to deliver
      successful projects, effectively balancing structure with agile
      adaptability.
    </p>
  </article>
</section>

<!-- <section class="infinite-scroll-container" [ngClass]="theme">
  <h2>#TODO Infinite Scroll</h2>
  <div class="icon-container">
    <i class="fab fa-html5"></i>
    <i class="fab fa-css3-alt"></i>
    <i class="fab fa-js"></i>
    <i class="fab fa-angular"></i>
    <i class="fab fa-node-js"></i>
    <i class="fas fa-database"></i>
  </div>
</section> -->
