$bg-color: #dee2e6; // First color stop
$text-color: #333333;
$accent-color: #f8f9fa; // Third color stop
$header-color: #dee2e6; // First color stop
$gradient-start: #dee2e6; // First color stop
$gradient-end: #f8f9fa; // Third color stop

.hub-item {
  // background: linear-gradient(to right, $gradient-start, $gradient-end);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    padding: 10px;
    margin: 5px;
  }
}

.hub-header {
  width: 100%;
  background-color: $bg-color;
  color: $text-color;
  // padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @media (max-width: 768px) {
    width: 100%;
    // padding: 10px;
  }
}

.tabs-button {
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
  color: $text-color;
  border: none;
  border-bottom: 6px solid transparent;

  &.active {
    // border: none;
    border-bottom-color: #ffa500;
    background-color: darken($accent-color, 10%);
    color: $text-color;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  &:not(.active):hover {
    background-color: darken($accent-color, 10%);
  }

  @media (max-width: 768px) {
    width: 100%;
    // padding: 5px 10px;
  }
}

.hub-content-area {
  // flex-grow: 1;
  background-color: $bg-color;
  color: $text-color;
  // padding: 20px;
  width: 100%;
  max-height: 500px;
  height: 500px;
  // overflow-y: auto;
  // margin: 20px 0;

  h1,
  h2,
  h3 {
    color: $header-color;
  }

  @media (max-width: 768px) {
    padding: 10px;
    height: auto;
  }
}

.hub-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gradient-end;
  padding: 10px 0;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;

  p {
    margin: 0;
    padding: 0 1rem;
  }

  .tab-nav-pagination {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      background-color: #f8f9fa;
      border: 1px solid #dee2e6;
      color: #495057;
      cursor: pointer;
      font-size: 1rem;
      padding: 10px 20px;
      height: 40px;

      &:hover {
        background-color: #dee2e6;
      }

      &:focus {
        outline: none;
      }
    }

    span {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      padding: 10px 20px;
      margin: 0 10px;
      height: 70px;
    }

    .indicator-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0 0 10px $accent-color, 0 0 20px $accent-color,
        0 0 30px $accent-color, 0 0 40px $accent-color;
    }

    .indicator {
      width: 12px;
      height: 8px;

      &.active {
        background-color: #ffa500;
        box-shadow: 0 0 5px $accent-color, 0 0 10px $accent-color,
          0 0 15px $accent-color, 0 0 20px $accent-color;
        transform: scale(1.5);
      }
    }
  }
}
