<div class="main-container">
  <div class="content-container">
    <div class="content-item">
      <nav class="navigation-bar">
        <button
          class="navigation-tab"
          *ngFor="let tab of tabs"
          [class.active]="activeTab === tab.id"
          (click)="activeTab = tab.id"
        >
          {{ tab.name }}
        </button>
      </nav>
      <div class="tab-content-area">
        <ng-container [ngSwitch]="activeTab">
          <div *ngSwitchCase="'tab1'">
            <div *ngFor="let page of pages1">
              <div *ngIf="currentPage === page.id">{{ page.content }}</div>
            </div>
          </div>
          <div *ngSwitchCase="'tab2'">
            <div *ngFor="let page of pages2">
              <div *ngIf="currentPage === page.id">
                <!-- Add your content here -->
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="footer-navigation">
        <p>Back / Next</p>
        <div class="page-navigation">
          <button *ngFor="let page of pages" (click)="currentPage = page.id">
            {{ page.id }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
