@import "../../../styles/_colors.scss";
@import "../../../styles/_mixins.scss";
@import "../../../styles/_variables.scss";

$social-links-bg-color-light: #f0f0f0;
$social-links-bg-color-dark: #333;
$social-links-border-color: #ccc;
$social-link-hover-color: #0056b3;
$social-link-hover-shadow: rgba(0, 0, 0, 0.5);

.footer {
  position: fixed;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  @include theme-mode-transition;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &.light {
    background-color: $lm-toolbar-background-color;
  }

  &.dark {
    background-color: $dm-toolbar-background-color;
  }
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-icon {
  font-size: 1.75em; /* Increased base font size */
  transition: color 0.3s;

  i {
    @include theme-mode-transition;
    &.light {
      color: $social-links-bg-color-dark;

      &:hover {
        color: $social-link-hover-color;
        text-shadow: 0px 0px 5px $social-link-hover-shadow;
      }
    }

    &.dark {
      color: $social-links-bg-color-light;

      &:hover {
        color: $social-link-hover-color;
        text-shadow: 0px 0px 5px $social-link-hover-shadow;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-content {
    gap: 20px; /* Adjusted gap for better spacing */
  }

  .footer-icon {
    font-size: 28px; /* Increased font size for tablets */
  }
}

@media (max-width: 480px) {
  .footer-content {
    gap: 15px; /* Adjusted gap for better spacing */
  }

  .footer-icon {
    font-size: 28px; /* Increased font size for mobile */
  }
}
