@import "../../../styles/_colors.scss";
@import "../../../styles/_mixins.scss";
@import "../../../styles/_variables.scss";

.logo {
  background: url("/assets/logo78px.png"), url("https://i.gifer.com/5ABD.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  //   margin: 0 auto;
  //   display: block;
  @include pulse-animation(25s, infinite);
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #666;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #1a1a1a, #5c5c5c, #c0c0c0);
  background-size: 200% 200%;
  height: 200px;
  transition: background-color 0.3s ease;
  @include gradient-animation(24s, ease, infinite);
  //   padding: 20px 0;

  &.light {
    /* light theme styles */
    // background-color: $lm-toolbar-background-color;
    background: linear-gradient(
      to top,
      lighten(#1a1a1a, 40%),
      lighten(#5c5c5c, 40%),
      lighten(#c0c0c0, 40%)
    );
    // color: $global-light-text-color;
  }

  &.dark {
    /* dark theme styles */
    // background-color: $dm-toolbar-background-color;
    // color: $global-dark-text-color;
    background: linear-gradient(to top, #1a1a1a, #5c5c5c, #c0c0c0);
  }
}
