<header class="toolbar-container">
  <!-- Logo -->
  <a href="/" class="toolbar-logo">
    <img id="logo-image" src="assets/logo78px.png" alt="Site logo" />
  </a>
  <!-- Items -->
  <nav class="toolbar-items">
    <!-- Links -->
    <a routerLink="/projects" class="toolbar-link">Projects</a>
    <a routerLink="/profile" class="toolbar-link">Profile</a>
    <!-- Theme Toggle -->
    <app-theme-toggle class="toolbar-theme-button"></app-theme-toggle>
    <!-- Social Links -->
    <app-social-links class="toolbar-social-links"></app-social-links>
  </nav>

  <!-- NavBtn -->
  <app-toolbar-menu class="toolbar-menu"></app-toolbar-menu>
</header>
