@import "../../../styles/_colors.scss";
@import "../../../styles/_mixins.scss";
@import "../../../styles/_variables.scss";

.toolbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  border-bottom: 4px solid #000;
  // overflow: hidden;
  @include box-shadow;
}

// .toolbar-logo,
// .toolbar-logo a {
//   max-width: 100%;
//   // overflow: hidden;
// }

.toolbar-menu {
  display: none;
}

.toolbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.toolbar-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  a {
    color: #333;
    text-decoration: none;
    font-size: 36px;
    margin-right: 20px;

    &:hover {
      color: #007bff;
      transform: scale(1.1);
    }

    &.active {
      color: #007bff;
      border-bottom: 2px solid #007bff;
    }
  }
}

@media (max-width: $mobile) {
  .toolbar-container {
    justify-content: space-around;
    align-items: center;
  }

  .toolbar-theme-button {
    display: none;
  }

  .toolbar-social-links {
    display: none;
  }

  .toolbar-items {
    display: block;
  }

  .toolbar-social-links {
    display: none;
  }

  .toolbar-menu {
    display: block;
  }
}

@media (max-width: 120px) {
  .toolbar-container {
    height: auto;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
  }
}
