@import "../../../styles/_colors.scss";
@import "../../../styles/_mixins.scss";
@import "../../../styles/_variables.scss";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background: linear-gradient(to bottom, #dee2e6, #e9ecef, #f8f9fa);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2); // !TODO: Add @Include shadow mixin
}

.header__logo {
  background-image: url("https://i.gifer.com/2iiB.gif");
  background-size: 100% 100%;

  @include pulse;
  animation: pulse 5s ease-in-out infinite;
}

.header__menu {
  display: none;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav__item-link {
  text-decoration: none;
  background: linear-gradient(45deg, #1f1f1f, #0ff);
  // background: linear-gradient(45deg, #000, #0f0);
  // background: linear-gradient(45deg, #2b0032, #ff00a6);
  // background: linear-gradient(45deg, #000033, #00ffff);
  // background: linear-gradient(45deg, #000, #f00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  // // or
  // color: linear-gradient(45deg, #0fff95, #7b00e0);
  // // or
  // color: linear-gradient(45deg, #ff00c8, #00c6ff);
  // // or
  // color: linear-gradient(45deg, #ffff00, #bc13fe);
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  padding: 10px 15px;
  // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;

  &:hover {
    text-shadow: 0px 0px 3px #000000;
    cursor: pointer;
    background-color: lightgray;
    border-radius: 10px;
    transition: background-color 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
      color 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
      text-shadow 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
      border-radius 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

.nav__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  a {
    color: #333;
    text-decoration: none;
    font-size: 36px;
    margin-right: 20px;

    &:hover {
      color: #007bff;
      transform: scale(1.1);
    }

    &.active {
      color: #007bff;
      border-bottom: 2px solid #007bff;
    }
  }
}

@media (max-width: $tablet) {
  .header {
    justify-content: space-around;
    align-items: center;
  }

  .nav__theme-toggle {
    display: none;
  }

  .nav__social-links {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__menu {
    display: block;
  }
}

@media (max-width: $mobile) {
  .header {
    justify-content: space-around;
    align-items: center;
  }

  .nav__theme-toggle {
    display: none;
  }

  .nav__social-links {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__menu {
    display: block;
  }
}

@media (max-width: 120px) {
  .header {
    height: auto;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
  }
}
