<header class="header">
  <!-- Logo -->
  <a routerLink="/home" class="header__logo" title="Home">
    <app-cube-logo></app-cube-logo>
  </a>
  <!-- Items -->
  <nav class="header__nav">
    <!-- Links -->
    <a routerLink="/projects" routerLinkActive="active" class="nav__item-link"
      >Item 1</a
    >
    <a
      routerLink="/profile-tabnav"
      routerLinkActive="active"
      class="nav__item-link"
      >Item 2</a
    >
    <!-- Theme Toggle -->
    <app-theme-toggle class="nav__theme-toggle"></app-theme-toggle>
    <!-- Social Links -->
    <app-social-links class="nav__social-links"></app-social-links>
  </nav>

  <!-- NavBtn -->
  <app-cyber-menu class="header__menu"></app-cyber-menu>
</header>
