<header class="header">
  <!-- Logo -->
  <a href="/" class="header__logo">
    <img id="logo-image" src="assets/logo78px.png" alt="Site logo" />
  </a>
  <!-- Items -->
  <nav class="header__nav">
    <!-- Links -->
    <a routerLink="/projects" class="nav__item-link">Projects</a>
    <a routerLink="/profile" class="nav__item-link">Profile</a>
    <!-- Theme Toggle -->
    <app-theme-toggle class="nav__theme-toggle"></app-theme-toggle>
    <!-- Social Links -->
    <app-social-links class="nav__social-links"></app-social-links>
  </nav>

  <!-- NavBtn -->
  <app-cybergur class="header__menu"></app-cybergur>
</header>
