/* Global Theme Mode Styles */
$body-light-mode-color: #fff;
$body-dark-mode-color: #333;

/* Theme Button */
$btn-icon: #f6b162;
$btn-border: #2a2a2a;
$btn-hover: #f1c40f;
$btn-icon-container: #4a4a4a;
