@import "./_colors.scss";

/* Theme Toggle Mixins */
@mixin spin-animation {
  animation: spin 0.5s ease-in-out 5;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

/* Toolbar, Footer, Mixins */
@mixin pulse {
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

/* Cube Logo Mixins */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Cyber Menu Mixins */
@mixin glow-animation($duration, $iteration) {
  @keyframes glow {
    0% {
      stroke: #ff2079;
    }
    50% {
      stroke: #ff4080;
    }
    100% {
      stroke: #ff2079;
    }
  }

  animation: glow $duration $iteration;
}

@mixin fadeInDown-animation($duration, $timing-function, $fill-mode) {
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  animation: fadeInDown $duration $timing-function $fill-mode;
}

@mixin fadeInUp-animation {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
