  <h2 [ngClass]="theme">
          Minimum Wage vs. Living Wage vs. True Living Wage vs. Adult Wage (More
          than enough wage)
        </h2>
        <p [ngClass]="theme">
          Living wage (or subsistence wage) is a measure of basic needs that
          draws on geographically specific data related to a family’s likely
          minimum costs for food, childcare, health insurance, housing,
          transportation, and other basic necessities. It determines the minimum
          employment earnings necessary to meet basic needs while also
          maintaining financial self-sufficiency, taking into account income and
          payroll taxes. Living wage is the minimum income standard that draws a
          very fine line between financial independence and the need to seek out
          public assistance or suffer consistent and severe housing and food
          insecurity.
        </p>
        <p [ngClass]="theme">
          Living wage, unlike minimum wage, factors in cost of living, which may
          vary by location. The range in the U.S. varies widely. For example,
          the most expensive places to live are Hawaii and Washington D.C.,
          where one would need to make $38.57 per hour and $39.41, respectively,
          to meet the basic necessities as an adult with one child. Two states
          that have the lowest cost of living are South Dakota and Mississippi,
          where one would still need to make $27.06 and $26.74 to meet basic
          needs. Further in many places $15 per hour would not be a sufficient
          living wage for a single person. Even without children, living wages
          in Hawaii and Washington D.C. are $19.43 and $20.49, respectively.
        </p>
        <p [ngClass]="theme">
          It is important to note that the living wage calculation is based on
          working full-time hours, 52 weeks per year, and does not factor in the
          opportunity to take unpaid time off for illness, family leave, or
          vacation. It also does not include setting aside any income as savings
          for emergencies, large purchases such as a car or house, or
          retirement. It also excludes the comforts that many people think of as
          essential to “living,” such as occasionally eating out, birthday and
          holiday gifts and celebrations, cable television or streaming
          services, high speed internet, and education expenses.
        </p>
        <p [ngClass]="theme">
          Living wage should be viewed as an entry point to the conversation
          about wages–the amount necessary just to get by.
        </p>