$color-level-0: #ebedf0;
$color-level-1: #c6e48b;
$color-level-2: #7bc96f;
$color-level-3: #239a3b;
$color-level-4: #196127;

$square-size: 12px;
$square-gap: 3px;
$week-width: calc(#{$square-size} + #{$square-gap});

.graph {
  display: grid;
  grid-template-areas:
    "empty months"
    "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  padding: 20px;
  border: 1px #e1e4e8 solid;
  margin: 20px;
}

.months {
  grid-area: months;
  display: flex;
  justify-content: space-between;
}

.month {
  font-weight: bold;
}

.days {
  grid-area: days;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day {
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 3px;
}

.squares {
  grid-area: squares;
  display: grid;
  grid-template-columns: repeat(53, $week-width);
  grid-gap: $square-gap;
}

.squares div {
  width: $square-size;
  height: $square-size;
  background-color: $color-level-0;
}

.squares div.level-1 {
  background-color: $color-level-1;
}

.squares div.level-2 {
  background-color: $color-level-2;
}

.squares div.level-3 {
  background-color: $color-level-3;
}

.squares div.level-4 {
  background-color: $color-level-4;
}

.squares div.level-5 {
  background-color: lighten($color-level-1, 20%);
}

.squares div.level-6 {
  background-color: lighten($color-level-2, 20%);
}

.squares div.level-7 {
  background-color: lighten($color-level-3, 20%);
}
