:root {
  --square-size: 12px;
  --square-gap: 3px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.graph {
  display: grid;
  grid-template-areas:
    "empty months"
    "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  padding: 20px;
  border: 1px #e1e4e8 solid;
  margin: 20px;
}

.months {
  grid-area: months;
  display: flex;
  justify-content: space-between;
}

.days {
  grid-area: days;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.squares {
  grid-area: squares;
  display: grid;
  grid-template-columns: repeat(53, var(--week-width));
  grid-gap: var(--square-gap);
}

.squares div {
  width: var(--square-size);
  height: var(--square-size);
  background-color: #ebedf0;
}

.squares div.level-1 {
  background-color: #c6e48b;
}

.squares div.level-2 {
  background-color: #7bc96f;
}

.squares div.level-3 {
  background-color: #239a3b;
}

.squares div.level-4 {
  background-color: #196127;
}
