.logo {
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;

  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;

  &.light {
    background: linear-gradient(90deg, #ffde59, #ff914d, #ff4e9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    transition: background-position 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.dark {
    background: linear-gradient(90deg, #00ff7f, #1e90ff, #ff00cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    transition: background-position 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
