.logo {
  display: inline-block;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-size: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  // padding: 10px 15px;

  &.light {
    background: linear-gradient(90deg, #b39ddb, #673ab7, #311b92, #b39ddb);

    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradientShift 23s ease-in-out infinite;
    filter: drop-shadow(0 0 8px rgba(66, 165, 245, 0.5));
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      filter: drop-shadow(0 0 15px rgba(66, 165, 245, 0.8));
    }
  }

  &.dark {
    background: linear-gradient(90deg, #bdbdbd, #757575, #424242, #bdbdbd);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradientShift 23s ease-in-out infinite;
    filter: drop-shadow(0 0 8px rgba(30, 136, 229, 0.5));
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      filter: drop-shadow(0 0 15px rgba(30, 136, 229, 0.8));
    }
  }

  @keyframes gradientShift {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}
