$primary-color: #4caf50;
$secondary-color: #e0e0e0;
$square-size: 20px;
$spacing: 2px;

.git-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $secondary-color;

  .git-grid-row {
    display: flex;
  }

  app-git-square {
    width: $square-size;
    height: $square-size;
    margin: $spacing;
    border: 1px solid $secondary-color;

    &:hover {
      background-color: $primary-color;
    }
  }
}

@media (min-width: 768px) {
  .git-grid {
    $square-size: 30px; // Increase square size on larger screens
  }
}
