// .notification {
//   background-color: transparent;
//   //   border: 1px solid #e0e0e0;
//   border-radius: 8px;
//   padding: 1.5rem;
//   display: flex;
//   align-items: center;
//   gap: 1rem;

//   span {
//     font-size: 2rem;
//     transition: color 0.2s;
//   }
// }
