// Define your colors
$tablet: 1023px;
$mobile: 768px;

.profile-hud-container {
  display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  background: linear-gradient(to right, #3498db, #2ecc71);
}

.profile-hud {
  display: flex;
  // justify-content: space-around;
  // align-items: center;
}

// Responsive design
@media (max-width: $tablet) {
}

@media (max-width: $mobile) {
}
