// Define your colors
$primary-color: #333;
$secondary-color: #666;
$highlight-color: #f60;

$tablet: 1023px;
$mobile: 768px;

.profile-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "left main"
    "right right";
  gap: 20px;
  padding: 0px 200px;
  background: linear-gradient(to right, #f9f9f9, #e6e6e6);
  transition: all 0.3s ease-in-out;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    color: $primary-color;
    font-weight: bold;
    margin-bottom: 15px; // Add spacing
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $highlight-color;
    }
  }

  p {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    color: $secondary-color;
    line-height: 1.5; // Increase line height for better readability
    margin-bottom: 15px; // Add spacing
  }
}

.profile-aside.left,
.profile-aside.right,
.profile-main {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to right, #f0f0f0, #dcdcdc);

  &:hover {
    // transform: translateY(-5px); // Add animation
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  }
}

.profile-aside.left {
  grid-area: left;
}

.profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; // Add space below the image
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;

  h3 {
    color: $primary-color;
    font-weight: bold;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $highlight-color;
      text-decoration: underline; // Add underline on hover for more emphasis
    }
  }

  p {
    color: $secondary-color;
    line-height: 1.5; // Increase line height for better readability
    // margin-bottom: 15px; // Add spacing

    &:last-child {
      margin-bottom: 0; // Remove margin from the last paragraph
    }

    &:hover {
      color: $primary-color; // Change color on hover for more emphasis
    }
  }
}

.profile-main {
  grid-area: main;
}

.profile-aside.right {
  grid-area: right;
}

// Responsive design
@media (max-width: $tablet) {
  .profile-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "left"
      "main"
      "right";
  }
}

@media (max-width: $mobile) {
  .profile-container {
    padding: 10px;
  }

  .profile-aside,
  .profile-main {
    padding: 10px;
  }
}
