<!-- profile.component.html -->
<div class="profile-container">
  <aside class="profile-aside left">
    <!-- Content for left aside -->
    <img
      class="profile-image"
      src="assets/programkylepng.png"
      alt="Your Name"
    />
    <!-- Profile Table -->
    <div class="profile-info">
      <h3>Software Engineer</h3>
      <p>Passionate about web development and machine learning.</p>
      <table>
        <tr>
          <th>Name</th>
          <td>Stanislaw Marcin Wasilewski</td>
        </tr>
        <tr>
          <th>Location</th>
          <td>Remote</td>
        </tr>
        <tr>
          <th>Contact</th>
          <td>Email: your-email</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>+1 123-456-7890</td>
        </tr>
        <tr>
          <th>Website</th>
          <td><a href="your-website-link">My Website</a></td>
        </tr>
      </table>
      <p>Open to job opportunities</p>
      <div>
        <a href="your-linkedin-profile">LinkedIn</a> |
        <a href="your-github-profile">GitHub</a> |
        <a href="your-twitter-profile">Twitter</a>
      </div>
    </div>
  </aside>
  <main class="profile-main">
    <!-- Main content -->
    <header>
      <h1>Profile:</h1>
      <h2>Software Engineer</h2>
    </header>
    <section>
      <p>
        I am a Software Engineer with a passion for web development and machine
        learning. I have experience in various programming languages and
        frameworks, and I enjoy solving complex problems and learning new
        technologies. I have worked on several projects, including building web
        applications and developing machine learning models. I am always open to
        new opportunities and challenges.
      </p>
    </section>
  </main>
  <aside class="profile-aside right">
    <app-profile-tabnav></app-profile-tabnav>
  </aside>
</div>
