<div class="bio-container">
  <div class="left-column">
    <div class="bio-content">
      <!-- Bio content goes here -->
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque
      commodi porro suscipit omnis quasi necessitatibus soluta dolores eos.
      Expedita fugit facere eum molestias facilis pariatur obcaecati nemo
      corporis quisquam assumenda? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Molestiae consequatur cupiditate vero ipsam tempore
      sint, sed dolores unde, cum officia voluptas amet illo, dolor nihil
      recusandae possimus? Mollitia, obcaecati quis.
    </div>
    <button class="cta-button">Call to Action</button>
  </div>
  <div class="divider"></div>
  <div class="right-column">
    <img
      class="profile-image"
      alt="Profile Image"
      src="https://i.imgur.com/zRGNYhA.jpg"
    />
    <div class="link-tree">
      <div class="link-item">
        <span class="icon">🔗</span>
        <a href="#">Link 1</a>
      </div>
      <div class="link-item">
        <span class="icon">🔗</span>
        <a href="#">Link 2</a>
      </div>
      <!-- More link items -->
    </div>
  </div>
</div>
