<div class="link-tree-container" [ngClass]="theme">
  <header>
    <img
      class="profile-image"
      alt="Profile Image"
      src="https://i.imgur.com/pKpu1QR.jpg"
    />
  </header>
  <section class="profile-details" [ngClass]="theme">
    <h2 class="job-title">Software Engineer</h2>
    <i class="dual-icons fas fa-flag-usa" aria-hidden="true"></i>
    <p>Dual citizen: USA & Poland</p>
    <p>Languages: English & Polish</p>
  </section>
  <section class="link-tree" [ngClass]="theme">
    <div class="link-item" [ngClass]="theme">
      <i class="icon fab fa-linkedin" aria-hidden="true"></i>
      <a href="#" class="link-text" aria-label="LinkedIn Profile">LinkedIn</a>
    </div>
    <div class="link-item" [ngClass]="theme">
      <i class="icon fab fa-instagram" aria-hidden="true"></i>
      <a href="#" class="link-text" aria-label="Instagram Profile">Instagram</a>
    </div>
    <div class="link-item" [ngClass]="theme">
      <i class="icon fab fa-github" aria-hidden="true"></i>
      <a href="#" class="link-text" aria-label="GitHub Profile">GitHub</a>
    </div>
    <div class="link-item" [ngClass]="theme">
      <i class="icon fab fa-youtube" aria-hidden="true"></i>
      <a href="#" class="link-text" aria-label="YouTube Channel">YouTube</a>
    </div>
    <div class="link-item" [ngClass]="theme">
      <i class="icon fas fa-envelope" aria-hidden="true"></i>
      <a href="#" class="link-text" aria-label="Email">Gmail</a>
    </div>
  </section>
</div>
