$backdrop-blur: 10px;
$light-bg: #1c1f24;
$dark-bg: #0d0d0d;
$light-text: #b0bec5;
$dark-text: #050404;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
$border-radius: 15px;
$link-tree-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
$link-item-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
$transition-duration: 0.3s;

.link-tree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-backdrop-filter: blur($backdrop-blur);
  backdrop-filter: blur($backdrop-blur);
  padding: 20px;
  border-radius: $border-radius;
  // box-shadow: $box-shadow;

  font-family: "Roboto", sans-serif;

  &.light {
    box-shadow: 0 0 15px #dcdcdc, 0 0 15px #bcbcbc, 0 0 15px #9c9c9c;
    text-shadow: 0 0 10px #dcdcdc, 0 0 10px #bcbcbc, 0 0 10px #9c9c9c;

    background: radial-gradient(
      circle at center,
      #b3b3b3,
      #cccccc,
      #e6e6e6,
      #ffffff
    );
    transition: background 0.3s ease;
  }

  &.dark {
    box-shadow: 0 0 15px #1a1a1a, 0 0 15px #333333, 0 0 15px #4d4d4d;
    text-shadow: 0 0 10px #1a1a1a, 0 0 10px #333333, 0 0 10px #4d4d4d;

    background: linear-gradient(180deg, #333333, #4d4d4d, #666666, #808080);
    transition: background 0.3s ease;
  }
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: $box-shadow;
  margin: 0 auto 20px;
  object-fit: cover;
  border: 2px solid #888;

  @media (max-width: 768px) {
    width: 120px;
    height: 120px;
  }

  @media (max-width: 480px) {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 320px) {
    width: 80px;
    height: 80px;
  }
}

.profile-details {
  padding: 20px;
  color: inherit;

  .job-title {
    margin: 10px 0;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: inherit;
  }

  .dual-icons {
    font-size: 1.5rem;
    background: linear-gradient(90deg, #ff0000, #ffffff, #0000ff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 8px;
    vertical-align: middle;
    transition: background $transition-duration ease;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: inherit;
    margin: 10px 0;

    @media (max-width: 768px) {
      font-size: 0.9375rem;
    }

    @media (max-width: 480px) {
      font-size: 0.875rem;
    }
  }
}

.link-tree {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: $link-tree-shadow;

  &.light {
    // box-shadow: 0 0 15px #dcdcdc, 0 0 15px #bcbcbc, 0 0 15px #9c9c9c;
    // text-shadow: 0 0 10px #dcdcdc, 0 0 10px #bcbcbc, 0 0 10px #9c9c9c;
    // background: linear-gradient(360deg, #ffffff, #e6e6e6, #cccccc, #b3b3b3);
    // transition: background 0.3s ease;

    box-shadow: 0 0 15px #dcdcdc, 0 0 15px #bcbcbc, 0 0 15px #9c9c9c;
    text-shadow: 0 0 10px #dcdcdc, 0 0 10px #bcbcbc, 0 0 10px #9c9c9c;
    background: radial-gradient(
      circle at center,
      rgba(179, 179, 179, 0.8),
      rgba(204, 204, 204, 0.8),
      rgba(230, 230, 230, 0.8),
      rgba(255, 255, 255, 0.8)
    );
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    backdrop-filter: blur(10px); /* Apply blur effect */
    transition: background 0.3s ease, text-shadow 0.3s ease;
  }

  &.dark {
    // box-shadow: 0 0 15px #1a1a1a, 0 0 15px #333333, 0 0 15px #4d4d4d;
    // text-shadow: 0 0 10px #1a1a1a, 0 0 10px #333333, 0 0 10px #4d4d4d;
    // background: linear-gradient(360deg, #2c2c2c, #3a3a3a, #484848, #565656);
    // transition: background 0.3s ease;

    box-shadow: 0 0 15px #1a1a1a, 0 0 15px #2b2b2b, 0 0 15px #4d4d4d;
    text-shadow: 0 0 10px #1a1a1a, 0 0 10px #2b2b2b, 0 0 10px #4d4d4d;

    background: radial-gradient(
      circle,
      rgba(93, 93, 93, 0.8),
      rgba(76, 76, 76, 0.8),
      rgba(59, 59, 59, 0.8),
      rgba(42, 42, 42, 0.8)
    );
    -webkit-backdrop-filter: blur(10px); /* For Safari support */
    backdrop-filter: blur(10px); /* Apply blur effect */
    transition: background 0.3s ease, text-shadow 0.3s ease;
  }

  @media (max-width: 320px) {
    padding: 10px;
  }

  .link-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 80px;
    border-radius: $border-radius;
    box-shadow: $link-item-shadow;
    transition: all $transition-duration ease;
    text-decoration: none;
    font-weight: bold;

    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      25% {
        background-position: 50% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      75% {
        background-position: 50% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    &.light {
      box-shadow: 0 0 15px #dcdcdc, 0 0 15px #bcbcbc, 0 0 15px #9c9c9c;
      text-shadow: 0 0 10px #dcdcdc, 0 0 10px #bcbcbc, 0 0 10px #9c9c9c;

      background: radial-gradient(
        circle at center,
        rgba(230, 230, 230, 0.8),
        rgba(204, 204, 204, 0.8),
        rgba(179, 179, 179, 0.8),
        rgba(153, 153, 153, 0.8)
      );
      -webkit-backdrop-filter: blur(10px); /* For Safari support */
      backdrop-filter: blur(10px); /* Apply blur effect */
      transition: background 0.3s ease, text-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 0 20px #dcdcdc, 0 0 20px #bcbcbc, 0 0 20px #9c9c9c;
        text-shadow: 0 0 15px #dcdcdc, 0 0 15px #bcbcbc, 0 0 15px #9c9c9c;
      }
    }

    &.dark {
      box-shadow: 0 0 15px #1a1a1a, 0 0 15px #2b2b2b, 0 0 15px #4d4d4d;
      text-shadow: 0 0 10px #1a1a1a, 0 0 10px #2b2b2b, 0 0 10px #4d4d4d;

      background: radial-gradient(
        circle,
        rgba(93, 93, 93, 0.8),
        rgba(76, 76, 76, 0.8),
        rgba(59, 59, 59, 0.8),
        rgba(42, 42, 42, 0.8)
      );
      -webkit-backdrop-filter: blur(10px); /* For Safari support */
      backdrop-filter: blur(10px); /* Apply blur effect */
      transition: background 0.3s ease, text-shadow 0.3s ease;

      &:hover {
        box-shadow: 0 0 20px #1a1a1a, 0 0 20px #2b2b2b, 0 0 20px #4d4d4d;
        text-shadow: 0 0 15px #1a1a1a, 0 0 15px #2b2b2b, 0 0 15px #4d4d4d;
      }
    }

    @media (max-width: 320px) {
      padding: 10px 120px;
    }

    @media (min-width: 768px) {
      padding: 20px 150px;
    }

    @media (min-width: 1440px) {
      padding: 25px 200px;
    }

    .link-text {
      flex-grow: 1;
      text-decoration: none;
      color: inherit;

      &.light {
        color: #333333;
        transition: color 0.3s ease;
      }

      &.dark {
        color: #fff;
        transition: color 0.3s ease;
      }
    }

    .icon {
      margin-right: 10px;
      font-size: 24px;
      flex-shrink: 0;

      &.linkedin {
        color: #0077b5; /* LinkedIn Blue */
      }

      &.instagram {
        color: #e4405f; /* Instagram Pink-Red */
      }

      &.github {
        color: #181717; /* GitHub Black */
        &.dark {
          color: #ffffff; /* GitHub White */
        }
      }

      &.youtube {
        color: #ff0000; /* YouTube Red */
      }

      &.gmail {
        color: #d93025; /* Gmail Red */
      }

      @media (max-width: 320px) {
        font-size: 20px;
      }
    }
  }
}
