<div class="link-tree-container" [ngClass]="theme">
  <img
    class="profile-image"
    alt="Profile Image"
    src="https://i.imgur.com/pKpu1QR.jpg"
  />
  <section class="profile-details" [ngClass]="theme">
    <h2 class="job-title">Software Engineer</h2>

    <i class="dual-icons fas fa-flag-usa" aria-hidden="true"></i>

    <p>Dual citizen: USA & Poland</p>

    <p>Languages: English & Polish</p>
  </section>

  <div class="link-tree" [ngClass]="theme">
    <div class="link-item" [ngClass]="theme">
      <i class="icon fab fa-linkedin" aria-hidden="true"></i>
      <a href="#" class="link-text" aria-label="LinkedIn">LinkedIn</a>
    </div>
    <div class="link-item" [ngClass]="theme">
      <i class="icon fab fa-instagram" aria-hidden="true"></i>
      <a href="#" class="link-text" aria-label="Instagram">Instagram</a>
    </div>
    <div class="link-item" [ngClass]="theme">
      <i class="icon fab fa-github" aria-hidden="true"></i>
      <a href="#" class="link-text" aria-label="GitHub">GitHub</a>
    </div>
    <div class="link-item" [ngClass]="theme">
      <i class="icon fab fa-youtube" aria-hidden="true"></i>
      <a href="#" class="link-text" aria-label="YouTube">YouTube</a>
    </div>
    <div class="link-item" [ngClass]="theme">
      <i class="icon fas fa-envelope" aria-hidden="true"></i>
      <a href="#" class="link-text" aria-label="Gmail">Gmail</a>
    </div>
  </div>
</div>
