$backdrop-blur: 10px;
$light-bg: #1c1f24;
$dark-bg: #0d0d0d;
$light-text: #b0bec5;
$dark-text: #050404;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
$border-radius: 15px;
$link-tree-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
$link-item-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
$transition-duration: 0.3s;

.link-tree-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-backdrop-filter: blur($backdrop-blur);
  backdrop-filter: blur($backdrop-blur);
  padding: 20px;
  border-radius: $border-radius;
  // box-shadow: $box-shadow;

  font-family: "Roboto", sans-serif;

  &.light {
    background-color: #1a1a2e; // Dark blue
    box-shadow: 0 4px 6px rgba(26, 26, 46, 0.3),
      0 8px 12px rgba(26, 26, 46, 0.3); // Darker blue shadow
    color: #a8d5e2; // Soft, light cyan
  }

  &.dark {
    background-color: #0a0a0a; // Very dark greenish-black
    color: #a8d5ba; // Soft, gentle green
  }
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: $box-shadow;
  margin: 0 auto 20px;
  object-fit: cover;
  border: 2px solid #888;

  @media (max-width: 768px) {
    width: 120px;
    height: 120px;
  }

  @media (max-width: 480px) {
    width: 100px;
    height: 100px;
  }

  @media (max-width: 320px) {
    width: 80px;
    height: 80px;
  }
}

.profile-details {
  padding: 20px;
  color: inherit;

  .job-title {
    margin: 10px 0;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: inherit;
  }

  .dual-icons {
    font-size: 1.5rem;
    background: linear-gradient(90deg, #ff0000, #ffffff, #0000ff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 8px;
    vertical-align: middle;
    transition: background $transition-duration ease;

    @media (max-width: 768px) {
      font-size: 1.25rem;
    }

    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: inherit;
    margin: 10px 0;

    @media (max-width: 768px) {
      font-size: 0.9375rem;
    }

    @media (max-width: 480px) {
      font-size: 0.875rem;
    }
  }
}

.link-tree {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  border-radius: $border-radius;
  box-shadow: $link-tree-shadow;
  background-color: $light-bg;

  &.dark {
    background-color: $dark-bg;
  }

  @media (max-width: 320px) {
    padding: 10px;
  }

  .link-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 80px;
    border-radius: $border-radius;
    box-shadow: $link-item-shadow;
    transition: all $transition-duration ease;
    text-decoration: none;
    font-weight: bold;
    color: #fff;

    &.light {
      background: linear-gradient(
        90deg,
        #1a1a2e,
        // Dark blue
        #6a0572,
        // Dark magenta
        #0f4c75 // Dark cyan
      );
      box-shadow: 0 0 10px #1a1a2e, 0 0 10px #6a0572, 0 0 10px #0f4c75; // Matching shadows
      text-shadow: 0 0 5px #1a1a2e, 0 0 5px #6a0572, 0 0 5px #0f4c75; // Matching text shadows
      background-size: 200% 200%;
      animation: gradient-animation 5s ease infinite;
    }

    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    &.dark {
      background: linear-gradient(90deg, #0d0d0d, #013220, #145214);
      box-shadow: 0 0 10px #0d0d0d, 0 0 10px #013220, 0 0 10px #145214;
      text-shadow: 0 0 5px #0d0d0d, 0 0 5px #013220, 0 0 5px #145214;

      background-size: 200% 200%;
      animation: gradient-animation 5s ease infinite;
    }

    @media (max-width: 320px) {
      padding: 10px 120px;
    }

    @media (min-width: 768px) {
      padding: 20px 150px;
    }

    @media (min-width: 1440px) {
      padding: 25px 200px;
    }

    .link-text {
      flex-grow: 1;
      text-decoration: none;
      color: inherit;
    }

    .icon {
      margin-right: 10px;
      font-size: 24px;
      flex-shrink: 0;

      @media (max-width: 320px) {
        font-size: 20px;
      }
    }
  }
}
