.hud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #f8f9fa, #dee2e6);
  //   height: 100vh;
  //   width: 100%;
}

.hud-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hud-image {
  //   background: radial-gradient(circle at center, #d1dde4, #a1b8c6);
  width: 100%;
  height: auto;
}
