.hud-container,
.hud-border,
.hud-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  //   background: black;
  background: radial-gradient(circle at center, #f8f9fa, #e9ecef, #dee2e6);
}

.hud-image {
  position: relative;

  img {
    width: 50%;
  }
}

.hud-tabs {
  position: absolute;
  width: 45%;
  height: 50%;
}
