<div class="top-container" [ngClass]="theme">
  <!-- <h1>Projects</h1> -->
  <div class="container" [ngClass]="theme">
    <div class="card" [ngClass]="theme">
      <div class="card-header" [ngClass]="theme">Angular Essentials</div>
      <div class="card-content" [ngClass]="theme">
        <p class="project-content">
          A personal project that demonstrates my understanding of Angular best
          practices and architectural patterns. It's a versatile application
          that can be easily adapted to various use cases.
        </p>
      </div>
      <div class="card-footer" [ngClass]="theme">
        <a href="https://github.com/gitlaws/angular-net-connect"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://gitlaws.github.io/angular-net-connect/"
          ><i class="fas fa-link"></i
        ></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="card" [ngClass]="theme">
      <div class="card-header" [ngClass]="theme">Rest CRUD</div>
      <div class="card-content" [ngClass]="theme">
        <p class="project-content">
          Developed a simple CRUD tool with JSON Server.
        </p>
        <p class="project-note">
          <strong>Note:</strong> GitHub Pages doesn't host deployment servers
          like JSON Server, so you'll need to clone the repo and run the app
          from your machine to fully interact with the data and API. Follow the
          instructions in the README to get started.
        </p>
      </div>
      <div class="card-footer" [ngClass]="theme">
        <a href="https://github.com/gitlaws/rest-hub"
          ><i class="fab fa-github"></i
        ></a>
        <a href="#"><i class="fas fa-link"></i></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="card" [ngClass]="theme">
      <div class="card-header" [ngClass]="theme">PortfoliYOLO</div>
      <div class="card-content" [ngClass]="theme">
        <p class="portfolio-paragraph">
          I specialize in Angular and advanced web tools to transform complex
          ideas into smooth, effective applications.
        </p>
      </div>
      <div class="card-footer" [ngClass]="theme">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fas fa-link"></i></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>

    <div class="card" [ngClass]="theme">
      <div class="card-header" [ngClass]="theme">Ignite</div>
      <div class="card-content" [ngClass]="theme">
        <p class="portfolio-paragraph">
          Hosting in Firebase, I've built a feature-rich app with secure logins,
          real-time updates, and personalized profiles. Let's collaborate.
        </p>
      </div>
      <div class="card-footer" [ngClass]="theme">
        <a href="https://github.com/gitlaws/ignite"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://ignitebase.web.app/"><i class="fas fa-link"></i></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>

    <!-- Add more cards as needed -->
  </div>
</div>
