<div class="top-container" [ngClass]="theme">
  <!-- <h1>Projects</h1> -->
  <div class="container" [ngClass]="theme">
    <div class="card" [ngClass]="theme">
      <div class="card-header" [ngClass]="theme">Angular Essentials</div>
      <div class="card-content" [ngClass]="theme">
        <p>
          Demonstrating my mastery of Angular fundamentals with this project.
          I've expertly crafted reusable components, pipes, services, and
          directives to create a modular and efficient application.
          Additionally, I've seamlessly integrated with external APIs to deliver
          dynamic, real-world data.
        </p>
      </div>
      <div class="card-footer" [ngClass]="theme">
        <a href="https://github.com/gitlaws/angular-net-connect"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://gitlaws.github.io/angular-net-connect/"
          ><i class="fas fa-link"></i
        ></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="card" [ngClass]="theme">
      <div class="card-header" [ngClass]="theme">Rest CRUD</div>
      <div class="card-content" [ngClass]="theme">
        <p>
          Deployed this fully functional CRUD application. I've crafted an
          interactive interface by integrating HTTP requests, reactive forms,
          and a JSON Server backend. Demonstrating common data management and
          user experience methods.
        </p>
        <p class="project-note">
          <strong>Note:</strong> GitHub Pages doesn't host deployment servers
          like JSON Server, so you'll need to clone the repo and run the app
          from your machine to fully interact with the data and API.
        </p>
      </div>
      <div class="card-footer" [ngClass]="theme">
        <a href="https://github.com/gitlaws/rest-hub"
          ><i class="fab fa-github"></i
        ></a>
        <a href="#"><i class="fas fa-link"></i></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>
    <div class="card" [ngClass]="theme">
      <div class="card-header" [ngClass]="theme">PortfoliYOLO</div>
      <div class="card-content" [ngClass]="theme">
        <p>Why did the developer quit his job? He didn’t get arrays.</p>
      </div>
      <div class="card-footer" [ngClass]="theme">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fas fa-link"></i></a>
        <a href="https://www.youtube.com/@sm.w/streams"
          ><i class="fab fa-youtube"></i
        ></a>
      </div>
    </div>

    <!-- Add more cards as needed -->
  </div>
</div>
