@import "../../../../styles/_colors.scss";
@import "../../../../styles/_mixins.scss";
@import "../../../../styles/_variables.scss";

.btn {
  display: flex;
  align-items: center;
  padding: 0;
  width: 2.75em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  border-radius: 10em;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  .btn__indicator {
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    border-radius: $theme-btn-border-radius;
    transition: transform 0.3s ease;
  }

  .btn__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: $theme-btn-border-radius;

    &.light {
      border: 1px solid $theme-btn-border-light;
      background-color: $theme-btn-icon-container-light;
    }

    &.dark {
      border: 1px solid $theme-btn-border-dark;
      background-color: $theme-btn-icon-container-dark;
    }
  }

  .btn__icon {
    font-size: 12px;
    transition: color 0.3s ease;

    &.spin {
      @include spin-animation;
    }
  }

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: none;
  }

  &.light {
    background-color: $theme-btn-background-light;
    border: 1px solid $theme-btn-border-light;
    box-shadow: $theme-btn-box-shadow-light;

    .btn__icon {
      color: $theme-btn-icon-light;
    }

    .btn__indicator {
      box-shadow: $theme-btn-box-shadow-light;
    }

    &:hover {
      border-color: $theme-btn-hover-light;
    }

    &:active {
      border-color: $theme-btn-active-light;
    }

    &:focus {
      box-shadow: $theme-btn-box-shadow-light, 0 0 0 2px $theme-btn-focus-light;
    }
  }

  &.dark {
    background-color: $theme-btn-background-dark;
    border: 1px solid $theme-btn-border-dark;
    box-shadow: $theme-btn-box-shadow-dark;

    .btn__icon {
      color: $theme-btn-icon-dark;
    }

    .btn__indicator {
      box-shadow: $theme-btn-box-shadow-dark;
    }

    &:hover {
      border-color: $theme-btn-hover-dark;
    }

    &:active {
      border-color: $theme-btn-active-dark;
    }

    &:focus {
      box-shadow: $theme-btn-box-shadow-dark, 0 0 0 2px $theme-btn-focus-dark;
    }
  }
}
